body {
background-color: #1A1A1A;
justify-content: center;
}

.container {
position: relative;
}

#title {
position: absolute;
top: 70px;
left: 4px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #FFFFFF;
}

#banner {
position: absolute;
width: 108%;
height: 160px;
top: -18px;
margin: -10px;
padding: 0;
}

iframe {
width: auto;
height: auto;
margin: -2px;
}

p {
color: #FFFFFF;
font-size: 12px;
}

h1 {
color: #0090FF;
}

h3 {
color: #FFFFFF;
font-size: 12px;
}

a {
color: #FFFFFF;
font-size: 12px;
}

.redes {
position: absolute;
left: 4px;
}

.redes a{
display: inline-flex;
width: 27px;
height: 27px;
float: left;
background: #0090FF;
color: #FFFFFF;
margin: -2px 2px;
border-radius: 13px;
justify-content: center;
align-items: center;
transition: 0.4s;
font-size: 20px;
}

.redes a:houver{
background: #2C3E50;
}

.redes a i{
transition: 00.4s all;
}

.redes a:houver > i{
transform: scale(1.0) rotate(25deg); 
}

.drawer {
width: 22%;
height: 800px;
float: left;
padding: 6px;
border: 1px solid #1A1A1A;
margin-left: -9px;
background-color: #000000;
}

.page {
width: 75%;
height: 100%;
float: right;
padding: 6px;
border: 1px solid #FF0000;
margin-right: -7px;
}
